*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* DEBUG */
    background-color: brown;
}

/* Nav Rules */
#flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;

    /* DEBUG */
    background-color: blue;
    margin-bottom: 1px;
}

#flex-nav a{
    text-decoration: none;
    color: white;
}

.flex-nav-list{
    display: flex;
    justify-content: space-around;
    min-width: 500px;
}

.flex-nav-list li{
    list-style-type: none;
    color: white;
}

/* Header Rules */

#flex-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;


    /* DEBUG */
    background-color: blue;
    color: white;
    margin-bottom: 1px;
}

.header-title{
    height: 100px;
    width: 50%;

    /* DEBUG */
    background-color: red;
    text-align: center;
    line-height: 100px;
}

.header-p{
    height: 100px;
    width: 50%;

    /* DEBUG */
    background-color: yellow;
    color: green;
    text-align: center;
    line-height: 100px;
}

#flex-header-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;

    /* DEBUG */
    background-color: green;
}

#flex-header-button a{
    text-decoration: none;

    /* DEBUG */
    color: white;
    margin: 50px;
}

/* Main Section 1 */

#flex-block1{
    display: flex;
    height: 420px;

    /* DEBUG */
    background-color: blue;
    margin-bottom: 1px;
}

#flex-block1 .left1{
    height: 400px;
    width: 30%;
    margin: 10px 0 10px auto;

    /* DEBUG */
    background-color: red;
    color:white;
    text-align: center;
    line-height: 400px;
}

#flex-block1 #flex-right1{
    height: 400px;
    width: 30%;
    margin: 10px auto 10px 0;

    /* DEBUG */
    background-color: yellow;
}

#flex-right1{
    display: flex;
    flex-direction: column;
}

#flex-right1 .title1{
    height: 200px;
    width: 100%;

     /* DEBUG */
    background-color: orange;
    color: white;
    text-align: center;
    line-height: 200px;
}

#flex-right1 .para1{
    height: 200px;
    width: 100%;

     /* DEBUG */
    background-color: green;
    color: white;
    text-align: center;
    line-height: 200px;
}

/* Main Section 2 */


/* Main Section 3 */

#flex-block3{
    display: flex;
    height: 420px;

    /* DEBUG */
    background-color: blue;
    margin-bottom: 1px;
}

#flex-block3 .left3{
    height: 400px;
    width: 30%;
    margin: 10px 0 10px auto;

    /* DEBUG */
    background-color: red;
    color:white;
    text-align: center;
    line-height: 400px;
}

#flex-block3 #flex-right3{
    height: 400px;
    width: 30%;
    margin: 10px auto 10px 0;

    /* DEBUG */
    background-color: yellow;
}

#flex-right3{
    display: flex;
    flex-direction: column;
}

#flex-right3 .title3{
    height: 200px;
    width: 100%;

     /* DEBUG */
    background-color: orange;
    color: white;
    text-align: center;
    line-height: 200px;
}

#flex-right3 .para3{
    height: 200px;
    width: 100%;

     /* DEBUG */
    background-color: green;
    color: white;
    text-align: center;
    line-height: 200px;
}